/* Will Dayble's a pretty cool guy. Eh designs the whole css and doesn't afraid of anything */
/* But then there are fully some other dudes and dudettes who helped out. They broke EVERYTHING */
/* LOL, Squareweave doing on the internets!!!! */
/* ------------------------------------------------------------------ */

/* mad leet haxor the boxors for bootstrap
/* ------------------------------------------------------------------ */
.icon{background-image: none;}



/* z-index'd, together, for evar! 
/* Remember to set things in big sections, like, thousands...
/* ------------------------------------------------------------------ */
body{z-index: 500;}
.hero img{z-index: 900;}
.hero .action{z-index: 1000 ;}
.navbar{z-index: 10000;}


