/* hero */
/* ------------------------------------------------------------------------------------------------------ */

.hero{padding:200px 0; text-align: center; position: relative; background:url(../images/home/hero/backer.jpg) center #d9d9d9; background-size: cover;}
.hero .intro{padding-bottom:40px;}
.hero h4{color:#f25822; padding-top:40px;}
.hero h1{color:#333;}




/* menu */
/* ------------------------------------------------------------------------------------------------------ */
.menu{margin-bottom: -160px; width: 100%; }
.menu .navbar-inner{background:#fff; border-radius: 0; padding: 10px; text-align: center; margin-bottom: -30px;}
.menu .navbar-inner .nav{display: inline-block; text-align: center; float: none; margin-bottom: -20px;}
.menu .navbar-inner .nav li{display: inline-block; }
.menu .navbar-inner .nav li a{font-size:16px; color:#999; text-shadow:none; padding: 10px 30px 15px; display: inline-block;}
.menu .navbar-inner .nav li a:hover{color:#333; text-decoration: none;}
.menu .navbar-inner .nav li.active a{color:#333 !important;}
.menu .navbar-inner .nav li.active{border-bottom:6px solid #f25822;}

.menu.affixed{position: fixed; top: 80px;}
.menu.absolute{position: absolute; top: auto;}


@media (max-width: 979px) {
	.menu.affixed{position: fixed; top: 0px;}
}

@media (max-width: 480px) {
	.menu .navbar-inner .nav li a{font-size:12px; padding: 5px 10px 8px !important; }
	.menu .navbar-inner .nav li.active{border-bottom:7px solid #f25822;}
}


@media (max-width: 320px) {
	.sales .item .container{padding-top: 140px !important; margin-top: -60px !important;}
	.sales{padding-left: 20px !important; padding-right: 20px !important;}
	.brand{padding-left: 8px;}
	.hero .action{min-width: 240px !important;}
	.menu .navbar-inner .nav li a{font-size:10px; padding: 5px 5px 7px !important; }
}


/* sales */
/* ------------------------------------------------------------------------------------------------------ */

.sales{padding-top:40px; background:#eee;}
.sales h2{color:#333; display: block;}
.sales h2:after{display: block; content: ''; position: absolute; bottom:0; left:0; border-bottom:3px solid #333; width:80px;}

.sales .item .container{padding-top:220px; margin-top: -140px}
.sales .item:last-child{padding-bottom:240px;}
.sales .item .description{padding-top:60px;}
.sales .item img.underline{padding:0px 0 20px;}

// better linking fo anchors
h1{position: relative;}
h1 a.robotfromfuture{width: 0; height: 0; position: relative; left:0; top:-260px; display: block;}

@media (max-width: 979px) {
// e.g.	h1 a.robotfromfuture{top:-60px;}
}
