

/* ie8 bugs */

h1{font-size:40px; text-transform: none}
h3{text-transform: none; font-size:24px;}


.menu .navbar-inner .nav li a:hover{color:#fff; text-decoration: none;}
.menu .navbar-inner .nav li.active a{color:#fff !important;}




/* ie7 bugs */

