

/* INFOBOX INTERFACE */
/* ------------------------------------------------------------------------------------------------------ */

.infobox{display: block; width:550px; margin:0 auto; background:#eee ; position: relative; border-top:5px solid #333; border-radius: 5px;}
.infobox:after{position:absolute; content:''; top:10px; left:100%; background:url(../images/map/shadow_right.png) no-repeat; height:668px; width:40px; margin-right:-50px;}
.infobox:before{position:absolute; content:''; top:10px; right:100%; background:url(../images/map/shadow_left.png) no-repeat; height:668px; width:38px; margin-left:-38px;}

/* INFOBOX HEADER */
/* ------------------------------------------------------------------------------------------------------ */
.infobox .header{padding:10px 20px; position: relative;}
.infobox .header h3{top:10px;}
.infobox .header h3,
.infobox .header a{display: inline; margin-right:10px; position: relative;}
.infobox .header a{background:#fff; border-radius: 5px; color:#878787; padding:10px; box-shadow: 0 2px 1px #cfd4d9;}

/* contact bit */
.infobox .header .contact{display: block; position: absolute; top:17px; right:0;}
.infobox .header .contact a{padding:23px 20px 20px;background: #333; font-weight: bold; color:#F25822; margin-right:0; border-radius:0 5px 0 5px; box-shadow: none;}



/* INFOBOX FOOTER */
/* ------------------------------------------------------------------------------------------------------ */
/* tabs on the bottom */
.infobox .tabs{background:#333; padding:10px; border-radius: 0 0 5px 5px;}
.infobox .tabs a{width:32%; border:#fff; display: inline-block; text-align: center; padding:20px 0; font-weight:bold; font-size:14px; text-transform: uppercase; color:#fff; letter-spacing: 2px; text-shadow: 0 2px 1px rgba(0,0,0,0.6); opacity: 0.5;}
.infobox .tabs a.active{color:#f25822; opacity:1;}
.infobox .tabs:after{display: block; content: ''; position: absolute; top:100%; left: 50%; margin-left: -20px; border: 20px solid transparent;border-top-color: #333;}


/* INFOBOX CONTENT */
/* ------------------------------------------------------------------------------------------------------ */

/* overview */
.infobox .content{padding:10px; background:#fff; margin:10px; border:1px solid #e0e0e0;}
.infobox .content .viewport{position: relative; display: block; overflow: hidden;}
.infobox .content .viewport .temp_view{width:100%; border:1px solid #e0e0e0;}
.infobox .content .viewport .temp_view img{border: none !important; max-width: none !important;}


.infobox .content .viewport .address{position: absolute; bottom:0; left:0; width:40%; height:100%;}
.infobox .content .viewport .address p{color:#fff; text-shadow: 0 2px 1px #000; font-size:18px;padding:20px; position: absolute; bottom:0; left:0;}


.infobox .content .views{padding-top:10px;}
.infobox .content .views a{display: block; float:left; width:48%; text-align: center; padding:20px 0; font-size:18px; color:#999;}
.infobox .content .views a:last-child{float:right;}
.infobox .content .views a.active{background:#f25822; color:#fff; border-radius: 5px;}
.infobox .content .views a:hover{text-decoration: none; opacity: 1;}


.infobox .download{padding: 0 10px 10px;}
.infobox .download a{display: inline-block; width:48%; padding:20px 0; box-shadow: 0 2px 1px #cfd4d9;  background:url(../images/map/download.jpg) 40px center no-repeat #fff;}
.infobox .purchase a{background:url(../images/map/purchase.jpg)40px center no-repeat #fff;}
.infobox .download a span{padding-left:80px; font-size:18px; color:#999; font-size:14px; font-weight:bold; text-shadow: none;}
.infobox .download a span.subtext{color:#cbcaca; font-weight:normal;}
.infobox .download a:last-child{float:right;}
.infobox .download a:hover{text-decoration: none; box-shadow: 0 -2px 1px #cfd4d9;}

/* measure */
.infobox .measurement{display: block; float:left; width:48%;}
.infobox .measurement:last-child{float:right;}
.infobox .measurement label{color:#999;}
.infobox .measurement input{width: 97%; padding:10px 0; font-size:22px; color:#2aa4fc; text-indent: 10px;}

/* contact */
.infobox .content .viewport .contact_form{padding: 60px 20px 20px 20px; border:1px solid #ddd; box-shadow: 0 5px 3px #999; border-radius: 5px; background:#eee; border-top: 5px solid #f25822;}
.infobox .content .viewport .contact_form textarea,
.infobox .content .viewport .contact_form input{width: 260px;}
.infobox .content .contact_details p.lead{font-size:18px;}
.infobox .content .contact_details ul{padding-left:20px; float:left;}
.infobox .content .contact_details img{float: right; border:1px solid #ddd;}

.infobox .content .viewport p.protip{color:#999;}