/* main colours:

	main: #333
	action: #f25822
  
*/


/* universal */
/* ------------------------------------------------------------------------------------------------------ */
body{padding-top:77px !important; background:#2c2c2c; position: relative;}
i{padding-top:3px !important;}



/* typography
/* -------------------------------------------------------------------------------------------------------- */

h1,h2,h3,
.navbar .navbar-inner .brand{font-family: "league-gothic",sans-serif; text-transform: uppercase; font-weight: normal;}
p, a, ul li{font-family: "droid-sans",sans-serif;}
h4{font-family: "bello-pro",sans-serif;}

h1{font-size:60px; line-height:60px;}
h2{font-size:50px; line-height: 52px;}
h3{font-size:40px; color:#333; text-transform: uppercase;}
h4{font-size:30px; font-weight:200; }

p{font-size:16px; line-height: 24px; color:#333333;}
p.helpful{color:#fff;}
p.lead{color:#848484; font-size:28px; line-height: 34px;}
a{color:#f25822;}
a:hover{color:#f25822;}



/* layout */
/* ------------------------------------------------------------------------------------------------------ */
hr{border-bottom:1px dashed #999; padding-top:80px;}



/* header */
/* ------------------------------------------------------------------------------------------------------ */
.navbar .navbar-inner{background:#333; padding:20px;}
.navbar .navbar-inner .brand{color:#f25822; font-size:30px; font-weight: normal; letter-spacing: 1px; }
.navbar .navbar-inner .brand span{color:#fff}
.navbar .navbar-inner .nav li a{padding:10px 30px 30px; font-size:14px; color:#6b6b6b; text-transform: uppercase; font-weight: normal;; letter-spacing: 4px;}
.navbar .nav .active > a{background:none; color:#fff !important;}
.navbar .nav .active > a:hover{background: none; color:#fff !important;}

/* contact */
.contact_tab a{color:#fff; font-weight: bold; font-size:12px; padding:20px; display: block; background:#f25822; position: fixed; right:0; top:160px; display: block; z-index:500; text-transform: uppercase; letter-spacing: 2px;}

/* search */
/* ------------------------------------------------------------------------------------------------------ */
.action{display: block; max-width:600px; margin: 0 auto; background:#f25822; border-radius: 5px; position:relative; padding:20px 20px 15px;}
.action:after{display: block; content: ''; position: absolute; top:100%; left: 50%; margin-left: -20px; border: 15px solid transparent;border-top-color: #f25822; overflow: hidden;}
.action form{position: relative; margin-bottom:0;}
.action input{font-size:22px; font-weight:300; height:60px; text-indent:20px;}
.action input.submit{ border: none; background:url(../images/home/hero/search.png) no-repeat; position: absolute; right:20px; top:20px; display: block; width: 23px; height:22px; transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;}
.action input.submit:hover{opacity: 0.6;}

.action_small{background-color:transparent; margin-left:0; padding:0;}
.action_small input.search-query{padding:10px 0; font-size:16px; margin-bottom:10px; width:100%; min-width: 300px;}
.action_small input.submit{right:0;top:15px;}
.action_small:after{display: none;}


/* adstrip */
/* ------------------------------------------------------------------------------------------------------ */
.ads{background-color:#ddd; padding:20px 0; background-size:cover;}
.ads p{color:#666;}
.ads img{border: 5px solid #ddd;}

/* statics */
/* ------------------------------------------------------------------------------------------------------ */

.static{background:#eee; padding:40px;}
.static .content{background:#fff; padding:40px; border-top:#333 5px solid;}
.static .contact{padding:0;}
.static .contact .contact_details{padding:60px 40px;}
.static .contact .contact_details li{font-size:16px; padding-bottom:10px;}

/* footer */
/* ------------------------------------------------------------------------------------------------------ */
footer{background:#333; padding:40px 0 60px; text-align: center;}
footer .links{padding-bottom:10px}
footer .links a{color:#ddd; font-size:14px;}
footer .links a.sw{color:#f25822;}
footer .links a:hover{color:#ddd;}
footer p{color:#666; font-size: 12px;}
