
/* google maps snippet */
/*
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
*/


/* map interface */
.map{padding:20px; background:#eee;}
.map .map_wrapper{background:#fff;padding:10px; border:1px solid #e0e0e0; border-radius: 5px;}
.map .search form{margin-bottom:0;}
.map .search form input.search-query{padding:8px; width:300px;}
.map .gmap{background:url(../images/map/temp_map.jpg) no-repeat center #efebe2; background-size: cover; border:1px solid #e0e0e0; padding:20px 0 40px;} /* temporary till maps get fixed */
.map 





