/* this is relevant to the standards with bootstrap */

/* iphone */


@media (max-width: 480px) {
	
	body h1{font-size:40px; line-height: 50px;}
	
	/* home */
	body .hero{padding:40px 20px 80px;}
	body .hero .action{min-width:280px;}
	// body .menu a{padding:10px 20px;}
	
	/* map */
	body .infobox{width:100%; min-width: 300px;}
	body .map .gmap{background:none; padding:0; border:none;}
	body h3{font-size:24px;}
	body .infobox .header .contact a{padding: 10px; border-radius: 5px 0 0 5px;}
	body .infobox .header .contact a span{display: none; }
	body .infobox .content .viewport .address p{font-size:14px; line-height:22px; padding:10px; font-weight: normal;}
	body .infobox .download a{background:url(../images/map/download.jpg) 10px center no-repeat #fff;}
	body .infobox .purchase a{background:url(../images/map/purchase.jpg)10px center no-repeat #fff;}
	body .infobox .download a span{padding-left:36px; font-size:12px;}
	body .infobox .tabs:after{display: none;}
	body .infobox .tabs a{font-size:12px;}
	body .infobox:after{width:10px;}
}


/* ipad */
@media (max-width: 767px) {

	/* global */
	.navbar{margin:0;}
	// .navbar .navbar-inner{padding:5px 0 0;}
	.navbar .navbar-inner .brand{margin-left:0; padding-left:10px;}
	// .navbar .navbar-inner .nav li a{padding:5px 0 5px 40px;}

	.menu .navbar-inner{padding: 10px 0px 0px 0px}
	.menu .navbar-inner .nav li a{padding: 5px 20px 10px; }

	/* home */
	.sales{padding:20px 80px;}
	.sales .item{text-align: center; padding-top:140px; margin-top: -80px}
	.sales .item img.flat_image{width:300px; margin-top:20px;} 
	.sales .item:last-child{padding-bottom:80px;}

	.ads{text-align: center;}
	.ads img{margin-bottom:20px;}
}

/* up to big grid, smaller screen */
@media (max-width: 979px) {
	body{padding: 0 !important;}
	
	h1{font-size:50px;}
	p.lead{font-size:18px; line-height: 22px;}
	p{font-size:13px;}
	
	/* global */
	.navbar{margin-bottom:0;}
	
	
	/* home */
	.hero{padding:80px 0;}
	.hero .action{width:70%;}
	.hero .action input{font-size: 18px;}
	
	.menu a{font-size:12px;}
	// .sales .item{padding:40px 0;}
	.sales .item .description{padding:0;}
	
	
	/* map */
	.map{padding:0;}
	.map .map_wrapper{border-radius: 0;}
	.infobox{width:500px;}
	.infobox h3{font-size:30px;}
	.infobox .header a{font-size:12px; padding:5px;}
	.infobox .tabs a,
	.infobox .download a,
	.infobox .content .views a{padding:10px 0; font-size:14px;}
	.infobox:after{background:url(../images/map/infobox/shadow_right_small.png) no-repeat; top:60px;}
	.infobox:before{background:url(../images/map/infobox/shadow_left_small.png) no-repeat; width:27px; top:60px;}
}


/* big buggers */
@media (min-width: 980px) {
	body{padding-top: 60px}
}


/* hooj */
@media (min-width: 1200px) {
}